// Here's where we define some default constants
@import "compass/reset";
html {
  height: 100%;
}
body {
  height: 100%;
  background: #f8f8f8;
  -webkit-font-smoothing: antialiased;
}

$grey: #535353;

#home {
  width:50%;
  margin: 15% auto 0 auto;
}

#header {
  margin: 0px auto 0 auto;
  position:relative;
  top: -30px;
  text-align:center;

}

#header a {
  font-size: 24px;
  font-family: "adobe-caslon-pro";
  color: #535353;
  line-height:1.4;
  margin: 0px 19% 0px 18%;
  text-decoration:none;
}

#header img {
  width: 98px;
  margin: 0 auto;
  display: block;
  position: relative;
  top: 60px;
}

#home img {
  margin: 0 auto;
  width: 135px;
  display: block;
}

#feature {
  position: relative;
  width: 100%;
  display: block;
  margin-top: 20px;
}
#feature img {
  width: 94%;
  margin: 0px 3% 0 3%;
  z-index:-1;
  display: block;
}
.cell {
  position: absolute;
  width: 100%;
  bottom: 38%;
}

#feature h2 {
  z-index: 100;
  color: white;
  text-align: center;
  font-size: 24px;
}
#feature h3 {
  z-index: 100;
  color: white;
  text-align: center;
  font-size:16px;
}
#post #intro {
  width: 65%;
  text-align: center;
  margin: 50px auto;
  font-size: 24px;
}
h1 {
  font-size: 21px;
  font-family: "adobe-caslon-pro";
  color: #535353;
  line-height:1.4;
  margin: 20px 0 0 0;
  text-align: center;
}
h2 {
  font-size: 42px;
  font-family: "adobe-caslon-pro";
  color: #535353;
  line-height:1.4;
  margin: 20px 0 0 0;
  text-align: center;
}

.sticky {
  position: fixed; 
  top: -10px; 
  padding: 10px 0px 0px 0px;
  z-index: 200;
}
.top {
  background: url('../img/top.png') no-repeat;
  text-indent: -3000px;
  width:26px;
  height:26px;
  display: none;
  position: absolute;
  left: 35px;
  top: 15px;
}
.top.display {
  display: block;
}
ul#nav {
  margin-top: 25px;
  left: 0;
  right: 0;
}

ul#nav li {
  line-height: 3em;
  text-align: center;
  top: 0;
  right: 0;
}

ul#nav li a {
  font-family: "adobe-caslon-pro";
  font-size: 25px;
  color: $grey;
  text-decoration:none;

}
ul#nav li a:active {
  top: 2px;
  position: relative;
}
.divider {
  height: 1px;
  width: 30%;
  margin: 5% auto 0 auto;
  background: url(../img/divider.png);
}

#top, #bottom, #left, #right {
  background: #cee2ad;
  position: fixed;
  z-index: 300;
  }
  #left, #right {
    top: 0; bottom: 0;
    width: 15px;
    }
    #left { left: 0; }
    #right { right: 0; }
    
  #top, #bottom {
    left: 0; right: 0;
    height: 15px;
    }
    #top { top: 0; }
    #bottom { bottom: 0; }


/*----------------------------------
---ABOUT MOB -----------------------
----------------------------------*/
#viewport {
  position: relative;
  display: block;
  min-height: 500px;
}
#viewport-container {
  width: 80%;
  max-width: 1100px;
  margin:0 auto;
}
.recently, .values, .skills {
  position: absolute;
  top: 1px;
  width: 100%;
}
.values, .skills {
  left: 2000px;
}

#about {
  margin: 1000px auto 0px auto;
  padding: 50px 0px 0px 0px;
}
.about_container {
  width: 80%;
  margin: 0 auto;
}
#about h1 {
  font-size: 42px;
}

#about #subnav {
  margin: 15px auto 25px auto;
  width: 100%;
  text-align: center;
}

#about #subnav li {
  display:inline;
  text-align: center;
}
#about #subnav li a {
  font-family: "adobe-caslon-pro";
  color: #93b957;
  text-decoration: underline;
  font-weight: 600;
  font-size: 16px;
  margin: 0px 15px 0px 15px;
  padding:185px 0 0 0;
}

#about #subnav li a#abvalues {
  margin: 0px 19px 0px 15px; 

}
#about #subnav li a.selected {
  color: #232323;
  text-decoration: none;
}

article { 
  line-height:1.8;
  font-family: "open-sans";
  font-size:20px;

   p {
    margin-bottom: 15px;
    color: #777677;
   }
   strong {
    font-weight: bold;
    color: #444545;
   }
   blockquote {
    font-size: 34px;
    font-style: italic;
    font-family: "adobe-caslon-pro";
    text-align: center;
    font-weight: 100;
    color: #777677;
    padding: 0px 25px;
   }
}
.point {
  width: 22px; 
  margin: 25px auto;
  display: block;

}
/*----------------------------------
---CONTACT MOB -----------------------
----------------------------------*/
/* For modern browsers */
.cf:before,
.cf:after {
    content:"";
    display:table;
}
.cf:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.cf {
    zoom:1;
}
.amp {
  font-style: italic;
}
#contact {
  margin: 1000px 0px 0px 0px;
}

/*----------------------------------
---WORK MOB -----------------------
----------------------------------*/
.lightblue {
  background: #dfe5e7;

}
#worksamples {
  background: #dfe5e7;
  margin: 1000px 0 0 0;
}

#worksamples-container {
  width: 90%;
  margin: 0 auto;
}

#worksamples h2 {
  padding: 80px 0px 5px 0px;
}
#worksamples p, #contact p {
  font-family: open-sans;
  width: 85%;
  color: #555;
  margin: 0 auto 25px auto;
  text-align: center;
  line-height: 1.5;
  max-width: 600px;
}
.ul-o-death {
  margin: 50px 0 0 0;
}
.ul-o-death a {
  width: 380px;
  height: 250px;
  display: block;
  color: #fff;
  font-family: adobe-caslon-pro;
  font-size: 21px;
  text-decoration: none;
  text-align: center;
  margin: 15px auto;

}

/*----------WUFOO------------*/
#contact {
  height: 750px;
  padding-top:350px;
}
#contact h3 a{
  color: #e65c5c;
  font-size: 56px;
  text-align: center;
  font-family: adobe-caslon-pro;
  margin: 75px 0px;
  text-decoration:none;
  text-align:center;
  display:block;
  position: relative;

}

#contact h3 a:hover{
  top: 2px;
  position: relative;
}
/*-------------- TESTS ------------------- */ 

.ul-o-death a h3 {
  padding: 100px 0 20px 0;
}
a.slidehover .meta, a.slidehover-img .meta, a.hoverimg .meta,  {
  display:none;
}
.overlay {
  opacity: 1;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0)
}
a.hoverimg .overlay {
  width: 100%;
  height: 250px;
  display: block;
}
a.hoverimg {
  box-shadow: 0px 0px 0px #252b48;
  top: 0;
  position: relative;
  -webkit-transition: box-shadow .3s linear, top .3s linear;
  -moz-transition: box-shadow .3s linear, top .3s linear;

}
a.hoverimg:hover {
  box-shadow: 0px 3px 3px #252b48;
  top:-3px;
  position:relative;
  -webkit-transition: box-shadow .3s linear, top .3s linear;
  -moz-transition: box-shadow .3s linear, top .3s linear;

}

a.hoverimg#george-kamel {
  background: url(../img/gk.png) top center no-repeat;
}
a.hoverimg#george-kamel .overlay {
  background: url(../img/gk-purple-text.png) top center no-repeat;
}

a.hoverimg#ipai {
  background: url(../img/ipai.png) top center no-repeat;
}
a.hoverimg#ipai .overlay {
  background: url(../img/ipai-purple-text.png) top center no-repeat;
}

a.hoverimg#highlands {
  background: url(../img/highlands.png) top center no-repeat;
}
a.hoverimg#highlands .overlay {
  background: url(../img/highlands-purple-text.png) top center no-repeat;
}

a.hoverimg#umobile {
  background: url(../img/gk-plain.png) top center no-repeat;
}
a.hoverimg#umobile .overlay {
  background: url(../img/gk-purple-text.png) top center no-repeat;
}

a.hoverimg#youversion {
  background: url(../img/youversion.png) top center no-repeat;
}
a.hoverimg#youversion .overlay {
  background: url(../img/youversion-purple-text.png) top center no-repeat;
}

a.hoverimg#internship {
  background: url(../img/internship-letter.png) top center no-repeat;
}
a.hoverimg#internship .overlay {
  background: url(../img/internship-letter-purple-text.png) top center no-repeat;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

  .overlay {
    opacity: 1;
  }

}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

  .overlay {
    opacity: 1;
  }

}

@media screen and (min-width: 786px) {
.cell {
  position: absolute;
  width: 100%;
  bottom: 40%;
}

#feature h2 {
  z-index: 100;
  color: white;
  text-align: center;
  font-size: 42px;
}
#feature h3 {
  z-index: 100;
  color: white;
  text-align: center;
  font-size:21px;
}


#header a {
  font-size: 24px;
  font-family: "adobe-caslon-pro";
  color: #535353;
  line-height:1.4;
  margin: 0px 100px 0px 100px;
  text-decoration:none;
}

.overlay {
  opacity: 0;
}
  h1 {
    font-size: 34px;
  }
  ul#nav {
    text-align:center;
  }
  ul#nav li {
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
    text-align: center;
  }
  .ul-o-death a {
  width: 33%;
  height: 250px;
  float: left;
  margin: 0;
}
a.hoverimg .overlay {
  width: 100%;
  height: 250px;
  display: block;
}
#about {
  padding: 100px 0px 0px 0px;
  overflow:hidden;
}
.about_container {
  width: 60%;
}
#viewport-container {
  width: 60%;
}
#worksamples-container {
  width: 90%;
  margin: 0 auto;
}
}

@media screen and (min-width: 1300px) {
  .ul-o-death a {
  width: 25%;
  height: 250px;
  float: left;
  margin:0
}
#home {
  margin: 12% auto 0 auto;
  -webkit-transition: margin 2s linear;
  -moz-transition: margin 4s linear;
}
}

@import "parallax";
