/* line 17, ../../../../compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/style.scss */
html {
  height: 100%;
}

/* line 6, ../sass/style.scss */
body {
  height: 100%;
  background: #f8f8f8;
  -webkit-font-smoothing: antialiased;
}

/* line 14, ../sass/style.scss */
#home {
  width: 50%;
  margin: 15% auto 0 auto;
}

/* line 19, ../sass/style.scss */
#header {
  margin: 0px auto 0 auto;
  position: relative;
  top: -30px;
  text-align: center;
}

/* line 27, ../sass/style.scss */
#header a {
  font-size: 24px;
  font-family: "adobe-caslon-pro";
  color: #535353;
  line-height: 1.4;
  margin: 0px 19% 0px 18%;
  text-decoration: none;
}

/* line 36, ../sass/style.scss */
#header img {
  width: 98px;
  margin: 0 auto;
  display: block;
  position: relative;
  top: 60px;
}

/* line 44, ../sass/style.scss */
#home img {
  margin: 0 auto;
  width: 135px;
  display: block;
}

/* line 50, ../sass/style.scss */
#feature {
  position: relative;
  width: 100%;
  display: block;
  margin-top: 20px;
}

/* line 56, ../sass/style.scss */
#feature img {
  width: 94%;
  margin: 0px 3% 0 3%;
  z-index: -1;
  display: block;
}

/* line 62, ../sass/style.scss */
.cell {
  position: absolute;
  width: 100%;
  bottom: 38%;
}

/* line 68, ../sass/style.scss */
#feature h2 {
  z-index: 100;
  color: white;
  text-align: center;
  font-size: 24px;
}

/* line 74, ../sass/style.scss */
#feature h3 {
  z-index: 100;
  color: white;
  text-align: center;
  font-size: 16px;
}

/* line 80, ../sass/style.scss */
#post #intro {
  width: 65%;
  text-align: center;
  margin: 50px auto;
  font-size: 24px;
}

/* line 86, ../sass/style.scss */
h1 {
  font-size: 21px;
  font-family: "adobe-caslon-pro";
  color: #535353;
  line-height: 1.4;
  margin: 20px 0 0 0;
  text-align: center;
}

/* line 94, ../sass/style.scss */
h2 {
  font-size: 42px;
  font-family: "adobe-caslon-pro";
  color: #535353;
  line-height: 1.4;
  margin: 20px 0 0 0;
  text-align: center;
}

/* line 103, ../sass/style.scss */
.sticky {
  position: fixed;
  top: -10px;
  padding: 10px 0px 0px 0px;
  z-index: 200;
}

/* line 110, ../sass/style.scss */
ul#nav {
  margin-top: 25px;
  left: 0;
  right: 0;
}

/* line 116, ../sass/style.scss */
ul#nav li {
  line-height: 3em;
  text-align: center;
  top: 0;
  right: 0;
}

/* line 123, ../sass/style.scss */
ul#nav li a {
  font-family: "adobe-caslon-pro";
  font-size: 25px;
  color: #535353;
  text-decoration: none;
}

/* line 130, ../sass/style.scss */
ul#nav li a:active {
  top: 2px;
  position: relative;
}

/* line 134, ../sass/style.scss */
.divider {
  height: 1px;
  width: 30%;
  margin: 5% auto 0 auto;
  background: url(../img/divider.png);
}

/* line 141, ../sass/style.scss */
#top, #bottom, #left, #right {
  background: #cee2ad;
  position: fixed;
  z-index: 300;
}

/* line 146, ../sass/style.scss */
#left, #right {
  top: 0;
  bottom: 0;
  width: 15px;
}

/* line 150, ../sass/style.scss */
#left {
  left: 0;
}

/* line 151, ../sass/style.scss */
#right {
  right: 0;
}

/* line 153, ../sass/style.scss */
#top, #bottom {
  left: 0;
  right: 0;
  height: 15px;
}

/* line 157, ../sass/style.scss */
#top {
  top: 0;
}

/* line 158, ../sass/style.scss */
#bottom {
  bottom: 0;
}

/*----------------------------------
---ABOUT MOB -----------------------
----------------------------------*/
/* line 164, ../sass/style.scss */
#viewport {
  position: relative;
  display: block;
  min-height: 500px;
}

/* line 169, ../sass/style.scss */
#viewport-container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

/* line 174, ../sass/style.scss */
.recently, .values, .skills {
  position: absolute;
  top: 1px;
  width: 100%;
}

/* line 179, ../sass/style.scss */
.values, .skills {
  left: 2000px;
}

/* line 183, ../sass/style.scss */
#about {
  margin: 1000px auto 0px auto;
  padding: 50px 0px 0px 0px;
}

/* line 187, ../sass/style.scss */
.about_container {
  width: 80%;
  margin: 0 auto;
}

/* line 191, ../sass/style.scss */
#about h1 {
  font-size: 42px;
}

/* line 195, ../sass/style.scss */
#about #subnav {
  margin: 15px auto 25px auto;
  width: 100%;
  text-align: center;
}

/* line 201, ../sass/style.scss */
#about #subnav li {
  display: inline;
  text-align: center;
}

/* line 205, ../sass/style.scss */
#about #subnav li a {
  font-family: "adobe-caslon-pro";
  color: #93b957;
  text-decoration: underline;
  font-weight: 600;
  font-size: 16px;
  margin: 0px 15px 0px 15px;
  padding: 185px 0 0 0;
}

/* line 215, ../sass/style.scss */
#about #subnav li a#abvalues {
  margin: 0px 19px 0px 15px;
}

/* line 219, ../sass/style.scss */
#about #subnav li a.selected {
  color: #232323;
  text-decoration: none;
}

/* line 224, ../sass/style.scss */
article {
  line-height: 1.8;
  font-family: "open-sans";
  font-size: 20px;
}
/* line 229, ../sass/style.scss */
article p {
  margin-bottom: 15px;
  color: #777677;
}
/* line 233, ../sass/style.scss */
article strong {
  font-weight: bold;
  color: #444545;
}
/* line 237, ../sass/style.scss */
article blockquote {
  font-size: 34px;
  font-style: italic;
  font-family: "adobe-caslon-pro";
  text-align: center;
  font-weight: 100;
  color: #777677;
  padding: 0px 25px;
}

/* line 247, ../sass/style.scss */
.point {
  width: 22px;
  margin: 25px auto;
  display: block;
}

/*----------------------------------
---CONTACT MOB -----------------------
----------------------------------*/
/* For modern browsers */
/* line 258, ../sass/style.scss */
.cf:before,
.cf:after {
  content: "";
  display: table;
}

/* line 262, ../sass/style.scss */
.cf:after {
  clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
/* line 266, ../sass/style.scss */
.cf {
  zoom: 1;
}

/* line 270, ../sass/style.scss */
#contact {
  margin: 1000px 0px 0px 0px;
}

/*----------------------------------
---WORK MOB -----------------------
----------------------------------*/
/* line 278, ../sass/style.scss */
#worksamples {
  background: #dfe5e7;
  margin: 1000px 0 0 0;
}

/* line 283, ../sass/style.scss */
#worksamples-container {
  width: 90%;
  margin: 0 auto;
}

/* line 288, ../sass/style.scss */
#worksamples h2 {
  padding: 80px 0px 5px 0px;
}

/* line 291, ../sass/style.scss */
#worksamples p, #contact p {
  font-family: open-sans;
  width: 85%;
  color: #555;
  margin: 0 auto 25px auto;
  text-align: center;
  line-height: 1.5;
  max-width: 600px;
}

/* line 300, ../sass/style.scss */
.ul-o-death {
  margin: 50px 0 0 0;
}

/* line 303, ../sass/style.scss */
.ul-o-death a {
  width: 380px;
  height: 250px;
  display: block;
  color: #fff;
  font-family: adobe-caslon-pro;
  font-size: 21px;
  text-decoration: none;
  text-align: center;
  margin: 15px auto;
}

/*----------WUFOO------------*/
/* line 317, ../sass/style.scss */
#contact {
  height: 750px;
  padding-top: 350px;
}

/* line 321, ../sass/style.scss */
#contact h3 a {
  color: #e65c5c;
  font-size: 56px;
  text-align: center;
  font-family: adobe-caslon-pro;
  margin: 75px 0px;
  text-decoration: none;
  text-align: center;
  display: block;
  position: relative;
}

/* line 334, ../sass/style.scss */
#contact h3 a:hover {
  top: 2px;
  position: relative;
}

/*-------------- TESTS ------------------- */
/* line 340, ../sass/style.scss */
.ul-o-death a h3 {
  padding: 100px 0 20px 0;
}

/* line 343, ../sass/style.scss */
a.slidehover .meta, a.slidehover-img .meta, a.hoverimg .meta {
  display: none;
}

/* line 346, ../sass/style.scss */
.overlay {
  opacity: 1;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

/* line 350, ../sass/style.scss */
a.hoverimg .overlay {
  width: 100%;
  height: 250px;
  display: block;
}

/* line 355, ../sass/style.scss */
a.hoverimg {
  box-shadow: 0px 0px 0px #252b48;
  top: 0;
  position: relative;
  -webkit-transition: box-shadow .3s linear, top .3s linear;
  -moz-transition: box-shadow .3s linear, top .3s linear;
}

/* line 363, ../sass/style.scss */
a.hoverimg:hover {
  box-shadow: 0px 3px 3px #252b48;
  top: -3px;
  position: relative;
  -webkit-transition: box-shadow .3s linear, top .3s linear;
  -moz-transition: box-shadow .3s linear, top .3s linear;
}

/* line 372, ../sass/style.scss */
a.hoverimg#george-kamel {
  background: url(../img/gk.png) top center no-repeat;
}

/* line 375, ../sass/style.scss */
a.hoverimg#george-kamel .overlay {
  background: url(../img/gk-purple-text.png) top center no-repeat;
}

/* line 379, ../sass/style.scss */
a.hoverimg#ipai {
  background: url(../img/ipai.png) top center no-repeat;
}

/* line 382, ../sass/style.scss */
a.hoverimg#ipai .overlay {
  background: url(../img/ipai-purple-text.png) top center no-repeat;
}

/* line 386, ../sass/style.scss */
a.hoverimg#highlands {
  background: url(../img/highlands.png) top center no-repeat;
}

/* line 389, ../sass/style.scss */
a.hoverimg#highlands .overlay {
  background: url(../img/highlands-purple-text.png) top center no-repeat;
}

/* line 393, ../sass/style.scss */
a.hoverimg#umobile {
  background: url(../img/gk-plain.png) top center no-repeat;
}

/* line 396, ../sass/style.scss */
a.hoverimg#umobile .overlay {
  background: url(../img/gk-purple-text.png) top center no-repeat;
}

/* line 400, ../sass/style.scss */
a.hoverimg#youversion {
  background: url(../img/youversion.png) top center no-repeat;
}

/* line 403, ../sass/style.scss */
a.hoverimg#youversion .overlay {
  background: url(../img/youversion-purple-text.png) top center no-repeat;
}

/* line 407, ../sass/style.scss */
a.hoverimg#internship {
  background: url(../img/internship-letter.png) top center no-repeat;
}

/* line 410, ../sass/style.scss */
a.hoverimg#internship .overlay {
  background: url(../img/internship-letter-purple-text.png) top center no-repeat;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 418, ../sass/style.scss */
  .overlay {
    opacity: 1;
  }
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 429, ../sass/style.scss */
  .overlay {
    opacity: 1;
  }
}
@media screen and (min-width: 786px) {
  /* line 436, ../sass/style.scss */
  .cell {
    position: absolute;
    width: 100%;
    bottom: 40%;
  }

  /* line 442, ../sass/style.scss */
  #feature h2 {
    z-index: 100;
    color: white;
    text-align: center;
    font-size: 42px;
  }

  /* line 448, ../sass/style.scss */
  #feature h3 {
    z-index: 100;
    color: white;
    text-align: center;
    font-size: 21px;
  }

  /* line 456, ../sass/style.scss */
  #header a {
    font-size: 24px;
    font-family: "adobe-caslon-pro";
    color: #535353;
    line-height: 1.4;
    margin: 0px 100px 0px 100px;
    text-decoration: none;
  }

  /* line 465, ../sass/style.scss */
  .overlay {
    opacity: 0;
  }

  /* line 468, ../sass/style.scss */
  h1 {
    font-size: 34px;
  }

  /* line 471, ../sass/style.scss */
  ul#nav {
    text-align: center;
  }

  /* line 474, ../sass/style.scss */
  ul#nav li {
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
    text-align: center;
  }

  /* line 480, ../sass/style.scss */
  .ul-o-death a {
    width: 33%;
    height: 250px;
    float: left;
    margin: 0;
  }

  /* line 486, ../sass/style.scss */
  a.hoverimg .overlay {
    width: 100%;
    height: 250px;
    display: block;
  }

  /* line 491, ../sass/style.scss */
  #about {
    padding: 100px 0px 0px 0px;
    overflow: hidden;
  }

  /* line 495, ../sass/style.scss */
  .about_container {
    width: 60%;
  }

  /* line 498, ../sass/style.scss */
  #viewport-container {
    width: 60%;
  }

  /* line 501, ../sass/style.scss */
  #worksamples-container {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1300px) {
  /* line 508, ../sass/style.scss */
  .ul-o-death a {
    width: 25%;
    height: 250px;
    float: left;
    margin: 0;
  }

  /* line 514, ../sass/style.scss */
  #home {
    margin: 12% auto 0 auto;
    -webkit-transition: margin 2s linear;
    -moz-transition: margin 4s linear;
  }
}
/* line 5, ../sass/parallax.scss */
#parallax_container {
  position: relative;
  top: -100px;
  z-index: -2;
  opacity: .9;
  padding: 1px;
}

/* line 12, ../sass/parallax.scss */
#parallax_overlay {
  background: url(../img/fade.png) repeat-x;
  width: 100%;
  height: 700px;
  position: absolute;
  top: 0px;
  padding: 1px;
}

/* line 20, ../sass/parallax.scss */
#parallax {
  background: url(../img/umobile/posters/1_seminary.jpg), url(../img/umobile/posters/14_spring.jpg), url(../img/umobile/posters/2_mutemath.jpg), url(../img/umobile/posters/3_music.jpg), url(../img/umobile/posters/4_phantom.jpg), url(../img/umobile/posters/5_xxi.jpg), url(../img/umobile/posters/6_pep.jpg), url(../img/umobile/posters/7_madness.jpg), url(../img/umobile/posters/8_tvf.jpg), url(../img/umobile/posters/9_monsters.jpg), url(../img/umobile/posters/10_iwomen.jpg), url(../img/umobile/posters/11_dubstep.jpg), url(../img/umobile/posters/12_xix.jpg), url(../img/umobile/posters/13_badgerbash.jpg), url(../img/umobile/posters/15_polankis.jpg), url(../img/umobile/posters/16_lori.jpg), url(../img/umobile/posters/17_anna.jpg), url(../img/umobile/posters/18_preston.jpg), url(../img/umobile/posters/19_dorminy.jpg);
  background-size: 250px, 250px, 250px, 163px 250px, 114px 175px, 163px 250px, 114px 175px, 82px 125px, 195px 300px, 163px 250px, 114px 175px, 82px 125px, 195px 300px, 163px 250px, 114px 175px, 163px 250px, 114px 175px, 82px 125px, 195px 300px;
  background-repeat: no-repeat;
  width: 100%;
  height: 680px;
  position: absolute;
  top: 0px;
  z-index: -1;
  padding: 1px;
}

/* line 68, ../sass/parallax.scss */
#posters {
  margin: 450px 0 0 0;
}

/* line 71, ../sass/parallax.scss */
#posters p {
  width: 65%;
  text-align: center;
  margin: 50px auto;
  font-size: 24px;
}
